<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What SAEB can do!</h2>
                <hr class="light">
                <p class="text-faded">
                    <strong>Improves</strong> our ability to understand client and employee behaviours, understanding, and preferences to inform service design.
                    <strong>Facilitates</strong> the identification of gaps in service, access or knowledge among the workforce and clients to address these needs directly.  
                    <strong>Enables</strong> us to leverage predictive analysis using leading metrics to anticipate and mitigate risks and better plan for future corporate results.  
                    <strong>Provides</strong> an opportunity for improvements and refinement of our tools to better serve clients’ needs 
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
