    <!-- Users Section -->
    <section id="users" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Service Users and Needs</h2>
                <p>
                    Across ESDC, a range of users would interact with and benefit from a Service Analytics Evidence Base. 
                    As an example, if we adopt “<a href="https://18f.gsa.gov/2020/05/12/rapid-implementation-of-policy-as-code/" target="_blank">policy as code</a>," policy users will encode policy and make its rules available to others, who will use it digitally for service implementation, evaluation, and delivery.
                    As one example, the W/T region makes key operations performance data available online to all the region’s employees.
                </p>
                <p>
                    Each user would interact with the SAEB in different ways, as their needs are different.
                    The following table of user stories identifies the classes of users who would add and derive value from the SAEB and identifies their needs.
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Goal</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Policy Maker</td>
                            <td>A means to evaluate evidence that could inform policy design</td>
                            <td>ESDC produces better policy</td>
                        </tr>
                        <tr>
                            <td>Policy Evaluator</td>
                            <td>To evaluate the implementation and performance of ESDC policies</td>
                            <td>Service delivery is better aligned to policy</td>
                        </tr>
                        <tr>
                            <td>Policy Modeller</td>
                            <td>Tools to facilitate changes in policies and their implementation</td>
                            <td>Make recommendations for improvements on current implementation of policy</td>
                        </tr>
                        <tr>
                            <td>Business Analyst</td>
                            <td>To evaluate service operations through the consideration of any relevant evidence</td>
                            <td>Make evidence-based service operations recommendations for adjustments and improvements to Service Operators</td>
                        </tr>
                        <tr>
                            <td>Market Researcher</td>
                            <td>To identify service delivery trends by relating service data, market data and models</td>
                            <td>Make recommendations on service delivery in the future</td>
                        </tr>
                        <tr>
                            <td>Market Researcher</td>
                            <td>To identify gaps in relevant data such as demographic data and those outlined in Appendix C</td>
                            <td>Promotion of services can be improved by addressing target audience needs</td>
                        </tr>
                        <tr>
                            <td>Service Delivery Team</td>
                            <td>Integrate feedback with real time performance metrics</td>
                            <td>Design, deliver and continuously improve service delivery mechanisms for clients and employees</td>
                        </tr>
                        <tr>
                            <td>Agent</td>
                            <td>Have access to relevant information, metrics and history of the client and relevant services</td>
                            <td>To meet the client needs and provide a personalized service</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>