<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Service Analytics<br />Evidence Base</h1>
            <hr>
            <p>To create a solution that integrates data, making it available and reusable in real-time for the purposes of planning, performance, reporting, and/or service improvement through analytics, across channels and programs.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
