    <!-- Need Section -->
    <section id="need" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Need for a Service Analytics Evidence Base </h2>
                <p><strong>Improves</strong> our ability to understand client and employee behaviours, understanding, and preferences to inform service design.</p>
                <p><strong>Facilitates</strong> the identification of gaps in service, access or knowledge among the workforce and clients to address these needs directly.</p>
                <p><strong>Enables</strong> us to leverage predictive analysis using leading metrics to anticipate and mitigate risks and better plan for future corporate results.</p>
                <p><strong>Provides</strong> an opportunity for improvements and refinement of our tools to better serve clients’ needs.</p>
                <h3>Additional benefits</h3>
                <ul>
                    <li>Data Analytics across programs and/or channels</li>
                    <li>Integrated service improvement consistencies</li>
                    <li>Accountability and results to Canadians</li>
                    <li>Tracking user journeys across channels</li>
                    <li>Collaborating across corporate program delivery planning</li>
                    <li>Informing Canadians about the benefits and services they are eligible for</li>
                    <li>Tracking program performance through service volumetric and client demographics (location, age, etc.)</li>
                </ul>
            </div>
        </div>
    </section>