<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Life Journey Success Matrix</h3>
                    <p class="text-muted">This is putting the SAEB work directly in line with DECD’s initiatives to map and baseline the success rates of a life journey. As we intend SAEB to gather data across programs, we can use this amalgamated data to understand the actual journey a user (or client) takes and identify the gaps where the user did not follow the intended journey. This would provide analysts (or data scientists) with the information needed to make recommendations to the program teams to make changes to their programs that would improve the life journey.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Program & Service Recommendations</h3>
                    <p class="text-muted">This should be straight forward; it is a type of service that SAEB can offer back to the programs and services that are feeding data into it. As to the scope of what is offered in this service, it could be very broad but focused on a user (or client). It is any kind of predictive recommendation that can be offered back to a program based on a user’s request. The service would be able to profile similar users and their needs to provide the best recommendations back to the user.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Problem Solving</h3>
                    <p class="text-muted">As particular issues arise in the services offered to users (or clients), we can use the existing system to build queries on the fly to gain a greater understanding of the problem and situation at hand. This information can be analyzed to potentially provide immediate and long-term solutions to the problem.</p>
                </div>
            </div>
        </div>
    </div>
</section>
